
.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-box {
  background: #00A0E9;
  padding: 20px 0;
  display: block;
  height: 260px;
  text-align: center;
  opacity: .9;
  transform: all .3;
  &:hover{
  	opacity:1;
  	transform: scale(1.04);
	color:#333;
  }
  .count{
  	font-size: 60px;
  	height: 80px;
  	line-height: 80px;
  }
  .desc{
  	font-size: 24px;
  	.fa{
  		margin-right: 10px;
  	}
  }
}
.green{
	background: green;
}
.yellow{
	background: yellow;
}
.red{
	background: red;
}