/*
* @Author: LinkChenzy
* @Date:   2018-06-10 16:54:48
* @Last Modified by:   LinkChenzy
* @Last Modified time: 2018-06-10 17:48:59
*/
.shopping-status{
	margin-left: 40px;
}
.search-form{
	margin-bottom: 20px;
	.form-group{
		margin-right: 10px;
	}
}